<div class="card">
    <mat-card class="example-card">
        <div class="fundoo" >
            <span class="f">F</span>
            <span class="u">u</span>
            <span class="n">n</span>
            <span class="d">d</span>
            <span class="o">o</span>
            <span class="oo">o</span>
          </div>
          <div class="title">
            <p class="p1">Reset Password</p>
          </div>
          <!-- <div class="title2">
            <p class="p2">Find your Fundoo Account</p>
        </div> -->
        <div class="password-container">
            <mat-form-field appearance="outline" class="password">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
            </mat-form-field>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" class="logo">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </div>
        <div class="button-container">
            <button mat-raised-button color="primary" class="button" style="width : 310px;">Reset Password</button>
        </div>
    </mat-card>
</div>
