<div class="card">
<mat-card class="example-card">
  <div class="fundoo" >
    <span class="f">F</span>
    <span class="u">u</span>
    <span class="n">n</span>
    <span class="d">d</span>
    <span class="o">o</span>
    <span class="oo">o</span>
  </div>
  <div class="title">
  <p class="p1">Create your Fundoo Account</p> <br />
</div>
    <div class="text-field">
    <mat-form-field appearance="outline">
        <mat-label >First Name</mat-label>
        <input matInput [formControl]="firstName">
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="lname">
        <mat-label>Last Name</mat-label>
        <input matInput [formControl]="lastName">
      </mat-form-field>
    </div>
    <div class="email-container">
        <mat-form-field appearance="outline" class="email">
          <mat-label>Username</mat-label>
          <input matInput [formControl]="email">
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div class="line1"><a href="">You can use letters,numbers & periods</a></div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
          </mat-form-field>
          <mat-form-field appearance="outline" class="cpassword">
            <mat-label>Confirm</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'">
          </mat-form-field>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
    </div>
    <a href="" class="line3">Use 8 or more characters with a mix of letters, numbers and symbols</a>
    <div>
    <a class="line4">Sign in instead</a>
        <button mat-raised-button color="primary" class="button">Next</button>
    </div>
</mat-card>
  </div>
  <router-outlet></router-outlet>